html {
  background-image: url(./recipes/images/home-img.jpeg);
  background-size: cover;
  margin: auto;
}

body {
  padding: 20px;
}

.links {
  display: block;
  padding: 10px;
  margin: 10px auto;
}

ul a {
  display: block;
  margin: 5px auto;
}